body {
font-family: 'Montserrat Alternates', sans-serif; /*для всего тега боди подключаем шрифты с гугл фонт*/
font-weight: 100;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        }
*,
*: before,
*:after {
box-sizing: border-box;
}
/* для всех заголовков H делаем отступ 0*/
h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 0px 0px;
}

/* контейнер, создаем рабочую область сайта контейнером, предварительно задавая парпаметры */
.header{
    width: 100%;
    max-width: 1218px;
    height: auto;
    margin: 0 auto;
}
.logo{
    width:91px;
    height: 80px;
    margin: 0 auto;
    background: url(../../im/logo5.png)
}
.nav{
    width: 60%;
    margin: 0 auto;
}