body {
font-family: 'Montserrat Alternates', sans-serif; /*для всего тега боди подключаем шрифты с гугл фонт*/
font-weight: 100;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        }
*,
*: before,
*:after {
box-sizing: border-box;
}
/* для всех заголовков H делаем отступ 0*/
h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 0px 0px;
}

/* контейнер, создаем рабочую область сайта контейнером, предварительно задавая парпаметры */
.container {

width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.about1{
	width:700px;
	height:50px;
	margin: 390px auto 0px auto;
	
}
.about2{
	color:white;
	font-size:38px;
	font-weight:700;
	width:134px;
	text-decoration: none;
	
}
.about3{
color: white;
font-size:17px;
margin: 10px auto 0px auto;
}

.view{
	width:170px;
	height:50px;
	margin-top: 20px;
}
.hr-line1{
    width: 1200px;
    margin: 20px auto;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #fff;
    opacity: 50%;
}	
/* интро - общий фон нашей первой части сайта */

.intro {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 820px;

background:
url("../../im/blog1.jpg");
center
no-repeat;
-webkit-background-size: cover;
background-size: cover;
}
.proz{
background: rgba(0,0,0,.5);

width: 100%;
height: 820px;
}

.intro__inner { 
width: 100%;
max-width: 880px;
margin: 0 auto 0 0;
text-align: left;
padding-top:90px;
    
}

.intro__title{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    
    text-align: left;
    line-height: 1;
}

.br{
margin: 0px 0px 0px 0px;
padding: 0;
}


/* шапка сайта */

.logo{
    width: 80px;
    height: 80px;
    text-align: center;
    display:flex;
    padding-top: 5px;
    margin: 0 auto 15px;
}

.header {
padding-top: 5px;
width:100%;

position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 1000;

}

.header__inner{
display: flex; /* выводит на ожну строку*/
justify-content: space-around; /*разводит элементы в разные стороны относительно ценнтар*/
align-items: center;
}




.nav {
size: 10px;
text-transform: uppercase;
    
}

.nav__link {
display: inline-block;
vertical-align: top;
margin: 0 15px;
position: relative;
color:#fff;
text-decoration: none;
transition: color .1s linear;
font-weight: 750;
font-size:11px;
}
.nav__link:after {
    
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #f42f2c;
    opacity: 0;
    
    position: absolute;
    top:100%;
    left:0;
    z-index: 1;
    transition: opacity .1s linear;
}


.nav__link:hover {
color: #f42f2c;
}

.nav__link:hover:after {
    opacity: 1;
}
    
/* шапка сайта  изменение цвета не получается, а именно "transition: color 0.2s linear;" */

/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #f42f2c;
    border: 3px solid #f42f2c;
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
}

.btn:hover{
    background-color: #f42f2c;
    color: #333;
    
}

/*новый контейнер*/







.btn1 {
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 1px solid white;
    background-color: white;
    color:black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
}
 
.btn1:hover {
    background-color: transparent;
    color: white;
    
}


.container2{
    height: 220px;
    width: 100%;
    margin-top: 60px;
    
}
.container2_1{
    width: 1140px;
    height: 220px;
    margin: 0 auto;
    display: flex;
}
.container211{
    margin: 25px auto auto auto;
    width: 310px;
    height: 130px;
    background: rgba(0,0,0,0.8);
    padding-top: 40px;
    transition: background .2s linear, color  .2s linear;
}
.container211:hover {
    background:rgba(178,34,34,0.9);
    color: white;
}
.red{
    text-decoration: none;
}
.social{
    font-size: 17px;
    color:white;
    font-weight: 600;
        line-height: 1;
}
.social1{
    font-size: 15px;
    color: white;
        line-height: 1;
}
.ost{
    margin: 0 auto;
    width: 200px;
}

.line{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: white;
    width: 200px;
    line-height: 1;
    
}
.hr-line{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: white;
    width: 200px;
    line-height: 1;
	border: none;
	border-top: 1px solid #fff;
    
}
.container21{
    width: 360px;
    height: 220px;
    margin: 0 auto;
    background:url("../../im/cat-widget1.jpg"); 
}
.container22{
    width: 360px;
    height: 220px;
    margin: 0 auto;
    background:url("../../im/cat-widget2.jpg"); 
    
}
.container23{
    width: 360px;
    height: 220px;
    margin: 0 auto;
    background:url("../../im/cat-widget3.jpg"); 
    
}
.container3{
    width: 100%;
    height: 2600px;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.silki{
	margin-top:20px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	width:175px;
	height:50 px;
	
}
.silki11{
	text-decoration: none;
    color: black;
    opacity: 50%;
	transition: color .2s linear, color  .2s linear;
}
.silki11:hover{
    color: red;
}
.silki111{
	text-decoration: none;
    color: black;
    
	transition: color .2s linear, color  .2s linear;
}
.silki111:hover{
    color: red;
}

.Mark_wiens{
	width:175px;
	margin-top: 30px;
	margin-bottom:auto;
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
}
.MCSE{
width: 570px;
height: auto;
margin-top: 300px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auro;

}
.MCSE_big{
	font-size: 25px;
	color: black;
	font-weight: 700;
	line-height: 1;
}
.MCSE_smoll	{
	font-size: 15px;
	color: black;
	opacity:50%;
	line-height: 1;
}
.view1{
	margin-top:10px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.btn2 {
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 1px solid white;
    background-color: white;
    color:black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
}
 
.btn2:hover {
    background-color: red;
    color: black;
    
}
.container3_1{
    display: flex;
    margin:0 auto;
 
    width: 1140px;
    height: 500px;
}
.AstronomyOB{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width:760px;
	height: 1000px;
	
}
.Astronomy{
    display: flex;
    width: 760px;
    height: 400px;
	margin-bottom:110px;
	margin-left: auto;
	margin-right: auto;
margin-top: auto;
}

.spisok1{
    display: flex;
    width: 200px;
    height: 30px;
    
    margin-left: 205px;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    list-style: none;
}
.spisok2{
    width: 25px;
    height: 25px;
    margin: auto;
    background-color: white;
    color:black;
    transition: background .2s linear, color  .2s linear;
    text-decoration: none;
    opacity: 50%;
}  
.spisok2:hover {
    background-color: red;
    color: black;
    text-decoration: none;
    opacity: 80%;
}

}
.fototext{
    width: 190px;
    height: 350px;
    
    margin-left: 30px;
}
.Astronomyfoto{
    width: 570px;
    height: 280px;
    background: url("../../im/feature-img1.jpg");
    margin-left: 30px;
}
.Astronomyfoto1{
    width: 570px;
    height: 280px;
    background: url("../../im/feature-img2.jpg");
    margin-left: 30px;
}
.Astronomyfoto2{
    width: 570px;
    height: 280px;
    background: url("../../im/feature-img3.jpg");
    margin-left: 30px;
}
.Astronomyfoto3{
    width: 570px;
    height: 280px;
    background: url("../../im/feature-img4.jpg");
    margin-left: 30px;
}
.Astronomyfoto4{
    width: 570px;
    height: 280px;
    background: url("../../im/feature-img5.jpg");
    margin-left: 30px;
}

.Charlie{
    width: 349px;
    height: 2600px;
    margin-left: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.poisk{
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  
    width: 300px;
    height: 50px;
}
.poisk_line{
    width: 300px;
    background: black;
    height: auto;
    margin-top: 20px;
     margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
}

.circle {
  display: flex;
 

  width: 40px;
  height: 40px;
  border-radius: 0px 15px 15px 0px;
  background: red;
  
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;        
}
.serth_1{
    border:none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    padding: 0;
    background: transparent;
    
}
.forme_1{
    display: flex;
    
}

    
.forme_2{
    width: 339px;
    height: 38px;
    background: red;
    color:white;
    font-size: 17px;
    border: none;
    border-radius: 15px 0px 0px 15px;
}


::placeholder {
  color: white;
}

.loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
  position: relative;
  top: 0%;
  right: 10%;
  z-index: 2;
  margin-top: 10%;
      margin-left: 20%;
    margin-right: auto;
    margin-bottom: 0;
}

.loupe::before {
  content: '';
  display: block;
  width: 90%;
  height: 26%;
  border-radius: 100px;
  background: inherit;
  position: absolute;
  margin-top: 175%;
  margin-left: 50%;
  transform-origin: center right;
  transform: translate(30%,0) rotate(45deg);
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%;
  height: 67%;
  border-radius: 50%;
  background: red;
  position: relative;
  z-index: 2;
}

.avatar_blog{
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
    background-image: url("../../im/user-info.png");    
    background-repeat: no-repeat;
    background-position: center center;
        
}
.Charli{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color:black;
    transform-style: preserve-3d;
}

.Charli:before{
    color: red;
    font-weight: 600;
}
.Charlie_Barber{
    margin-top:25px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    line-height: 1;
}
.container5{
    width: 100%;
    height: 370px;
    background:red;
    margin-top: 50px;
    margin-bottom: auto;
    
    display: flex;
}
.soc_seti{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 30px;
    list-style: none;
   
    align-items: center;
}
.li_1{
    margin-left: 15px;
    
}
.gg-facebook {
    margin-left: 20px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.gg-facebook::after,
.gg-facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}
.gg-facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
}
.gg-facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg);
}
.gg-facebook:hover{
    color:red;
}
.soc_seti_1{
	text-decoration: none;
    color: black;
    
	transition: color .2s linear, color  .2s linear;
}
.soc_seti_1:hover{
    color: red;
}
.Boot_camps{
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
   
}
.poisk_line_1{
    width: 300px;
    background: black;
    height: auto;
    margin-top: 50px;
     margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
}
.popular_post{
    width: 300px;
    height:40px;
    margin-top:30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: red;
}
.MCSE_big_1{
	font-size: 25px;
	color: white;
	font-weight: 700;
}
.Space{
    width: 300px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.Space_foto{
    width: 81px;
    height: 49px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 12px;
    margin-top: auto;
    background-image: url(../../im/pp1.jpg);
    background-repeat: no-repeat;   
}
.Space_foto_1{
    width: 81px;
    height: 49px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 12px;
    margin-top: auto;
    background-image: url(../../im/pp2.jpg);
    background-repeat: no-repeat;   
}
.Space_foto_2{
    width: 81px;
    height: 49px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 12px;
    margin-top: auto;
    background-image: url(../../im/pp3.jpg);
    background-repeat: no-repeat;   
}
.Space_foto_3{
    width: 81px;
    height: 49px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 12px;
    margin-top: auto;
    background-image: url(../../im/pp4.jpg);
    background-repeat: no-repeat;   
}
.space_text{
    width: 169px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto;  
}
.space_text_1:hover{
    color: red;
}
.space_text_1{
    font-size: 14px;
    color: black;
    
    text-decoration: none;
}
.font_11{
    line-height: 1;
}
.ad_goes{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    
}
.Post_Catigories{
    list-style: none;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding-left: 0px;
}
.Post_Catigories_0{
    margin-left: 0px;
}
.Post_Catigories_0:hover{
    color: red;
}
.Post_Catigories_1{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    text-decoration: none;
    color: black;
}
.Post_Catigories_1:hover{
    color: red;
    text-decoration: none;
}
.line_Post{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px dashed #000;
    opacity: 50%;
}
.line_Post:hover{
    border-top: 1px dashed red;
    opacity: 50%;
}
.email_1{
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 40px;
    border: 2px solid black;
}
.konvert{
    width: 12%;
    height: 80%;
    background: white;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 0px;
   
}
.konvert_11{
  margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
  width: 30px;
  height: 25px;
}

.input_email{
    width: 60%;
    height: 100%;
    margin-bottom: auto;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: auto;
    
}
.input_email_1{
    width: 100%;
    height: 85%;
    border: none;
    margin-bottom: auto;
    margin-left: 0px;
    margin-top: auto;
    margin-right: auto; 
}
.input_email_1:hover{
    border: none;
}
.Knopka_email{
    width: 24%;
    height: 82%;
    color: white; 
    padding-top: 7px;
    padding-left: 8px;
    background: red;
}
.Knopka_email_1{
    color: white;
    font-size: 17px;
    line-height: 1;
}
.You_can{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.poisk_line_11{
    width: 300px;
    background: black;
    height: auto;
    margin-top: 20px;
     margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 10%;
}
.Tag_1{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: red;
}
.Tag_clouds{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    
}
.Tehnologi_1{
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: auto;
    width: 300px;
    height: 34px;
   
   
}
.Tehnologi_11{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 100px;
    height: auto;
    background: white;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
}
.Tehnologi_11:hover{
    background: red;
    color: white;
    border: 1px solid red;
}
.Tehnologi_11_s{
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 100px;
    height: auto;
}
.Tehnologi_11text{
    font-size: 15px;
    
    line-height: 1;
}
.Tehnologi_12{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 80px;
    height: auto;
    background: white;
    border: 1px solid black; 
    transition: 0.5s;
}
.Tehnologi_12:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Tehnologi_12_s{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 80px;
    height: auto;
    
}
.Tehnologi_12_text{
    font-size: 15px;
    line-height: 1;
}
.Tehnologi_13{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 90px;
    height: auto;
    background: white;
    border: 1px solid black;
    transition: 0.5s;
}
.Tehnologi_13:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Tehnologi_13_s{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 90px;
    height: auto;
}
.Fashion_11_s{
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 80px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black;
}
.Fashion_11_s:hover{
    background: red;
    color: white;
    border: 1px solid red;
}
.Fashion_12_s{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 60px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black;
}
.Fashion_12_s:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Tehnologi_111_s{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 100px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black;
}
.Tehnologi_111_s:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Lifestyle_11_s{
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 70px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black;
}
.Lifestyle_11_s:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Art{
     text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 50px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black; 
}
.Art:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Lifestyle_13_s{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 100px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black; 
}
.Lifestyle_13_s:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.Advanture_11_s{
      text-decoration: none;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 100px;
    height: auto;
    color: black;
    background: white;
    transition: 0.5s;
    border: 1px solid black; 
}
.Advanture_11_s:hover{
    color: white;
    background: red;
    border: 1px solid red;
}
.forme_email{
    width: 290px;
    height: auto;
    
    margin-top: 50px;
    display: flex;
}
.Forme_email_1{
    width: 250px;
    height: 34px;
    border-radius: 15px 0px 0px 15px;
    font-size: 17px;
}
.forme_email_buttom{
    width: 50px;
    height: 40px;
    background: grey;
    margin-left:0px;
    border: none;
    color: white;
}
.container51{
	width:1200px;
	height:370px;
	margin: 0 auto;
	display: flex;
}
.container6{
     width: 100%;
    height: 70px;
    background:black;
	
}
.container61{
	width:1200px;
	height:70px;
	margin:0 auto;
	display: flex;
	
}
.container611{
	width:550px;
	height: 40 px;
	float: left;
	margin-left: 35px;
}
.end6{
	width:550px;
	height:40px;
	color: white;
	font-size: 16px;
}
.end1{
    width: 350px;
    height: 100px;
    margin-left: 40px;
    margin-top: 55px;
}
.endtext1{
    width: 250px;
    font-size:18px;
    color:white;
    float: left;
    font-weight: 700;
    line-height: 1;
}
.endtext3{
    width: 250px;
    
    color:white;
    float: left;
    font-weight: 700;
    line-height: 1;
}
.endtext2{
     width: 350px;
    font-size:16px;
    color:white;
    float: left;
    line-height: 1;
}
.endtext3{
    width: 350px;
    font-size:16px;
    color:white;
    float: left;
    line-height: 1,5;
}
.line1{
    width: 350px;
    padding: 0px;
    margin: 20px auto;
    margin-bottom: 30px;
    color:white;
}
.line2{
    width: 350px;
    padding: 0px;
    margin: 20px auto 30px;
    color:white;
}

.end2{
    width: 350px;
    height: 100px;
    
    margin-left: 75px;
    margin-top: 55px;
}
.end3{
    width: 350px;
    height: 100px;
    margin-left: 65px;
    margin-top: 55px;
}
.emaol{
	margin-top: 6px;
	margin-right: 5px;
	width:25px;
	height:25px;
	background:red;
	border-radius: 15px 15px 15px 15px;
}
.email1{
	background: white;
	border-radius: 10px 10px 10px 10px;
	width:360px;
	height: 35px;
	margin-top: 60px;
	display:flex;
}
.proba_1{
    width: 150px;
    height: 150px;
    margin-top:100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    background: green;
}
    
.new_1{
    width: 100%;
    height: auto;
    background: red;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.new_2{
    width: 70%;
    height: auto;
    background: grey;
    margin-top: 10%;
      margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}