body {
font-family: 'Montserrat Alternates', sans-serif; /*для всего тега боди подключаем шрифты с гугл фонт*/
font-weight: 100;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        }
*,
*: before,
*:after {
box-sizing: border-box;
}
/* для всех заголовков H делаем отступ 0*/
h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 0px 0px;
}

/* контейнер, создаем рабочую область сайта контейнером, предварительно задавая парпаметры */
.container {

width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.about1{
	width:134px;
	height:50px;
	margin: 190px auto 0px auto;
	
}
.about2{
	color:white;
	font-size:30px;
	font-weight:700;
	width:134px;
	text-decoration: none;
	
}
.about3{
color: white;
font-size:17px;
text-decoration: none;
margin:0 auto;
width: 200px;
padding-left:10px;
}
	
/* интро - общий фон нашей первой части сайта */

.intro {
display: flex;
    flex-direction: column;
    justify-content: center;
width: 100%;
height: 450px;

background:
url("../../im/blog1.jpg");
center
no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

.intro__inner { 
width: 100%;
max-width: 880px;
margin: 0 auto 0 0;
text-align: left;
padding-top:90px;
    
}

.intro__title{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    
    text-align: left;
    line-height: 1;
}

.br{
margin: 0px 0px 0px 0px;
padding: 0;
}

.intro__suptitle {
    margin: 50px auto 20px;
    font-size: 20px;
    color:#fff;
    text-align: left;
	font-weight: 500;
}
/* шапка сайта */

.logo{
    width: 80px;
    height: 80px;
    text-align: center;
    display:flex;
    padding-top: 5px;
    margin: 0 auto 15px;
}

.header {
padding-top: 5px;
width:100%;

position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 1000;

}

.header__inner{
display: flex; /* выводит на ожну строку*/
justify-content: space-around; /*разводит элементы в разные стороны относительно ценнтар*/
align-items: center;
}



.header__logo{
font size: 30px;
font-weight: 700;
color: #fff;
}

.nav {
size: 10px;
text-transform: uppercase;
    
}

.nav__link {
display: inline-block;
vertical-align: top;
margin: 0 15px;
position: relative;
color:#fff;
text-decoration: none;
transition: color .1s linear;
font-weight: 750;
font-size:11px;
}
.nav__link:after {
    
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #f42f2c;
    opacity: 0;
    
    position: absolute;
    top:100%;
    left:0;
    z-index: 1;
    transition: opacity .1s linear;
}


.nav__link:hover {
color: #f42f2c;
}

.nav__link:hover:after {
    opacity: 1;
}
    
/* шапка сайта  изменение цвета не получается, а именно "transition: color 0.2s linear;" */

/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background-color: #f42f2c;
    border: 3px solid #f42f2c;
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
}

.btn:hover{
    background-color: #f42f2c;
    color: #333;
    
}

/*новый контейнер*/

.intro1 {
    flex-direction: column;
    justify-content: center;
width: 100%;
height: 540px;;
margin: 0 auto;
}

.intro__inner1{ 
width: 100%;
max-width: 880px;
margin: 0 auto;
    text-align: center;
    
}
.intro__suptitle1 {
    margin-bottom: 5px;
    font-size: 65px;
    color:black;
    text-align: center;
}

.intro__title1{
    color:black;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.intro__title1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    
    background-color: #fff;
    margin: 60px auto;
}
.container1 {
    width: 100%;
max-width: 1500px;
margin: auto;
vertical-align: top;
justify-content: space-between;
opacity: inherit;
    background-color:#fff;

display: flex; 
align-items: center;
}

.sod {
	
max-width: 500px;
max-height:400px;
margin: 70px 70px 70px 70px;

display: inline-block;
    


}

.sod2 {
width: 500px;
height:400px;
margin: 70px 70px 70px 70px;
display: inline-block;
    background:
url("../../im/fon4.jpg");
background-size:  auto;
background-size: cover;
}


.text1{
    font-size: 36px;
    color: black;
    font-weight: 700;
}

.text2{
    font-size: 20px 0px;
    max-width: 490px;
    font-weight: 0;
    opacity: 50%;
    text-align: left;
    
}
.btn1 {
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #f42f2c;
    background-color: #f42f2c;
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
}
 
.btn1:hover {
    background-color: #f42f2c;
    color: #333;
    
}

.hr-line{
width: 1200px;
    margin: 20px auto;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #fff;
    opacity: 50%;
}
.container2 {
    width: 100%;
    height: 1000px;
max-width: 1900px;
opacity: inherit;
background-color:whitesmoke;
}

.intro2{
    top:60px;   
    margin: 0px; 0px; 0px; 15px;
}

.text3 {
    font-size: 36px;
    color: black;
    font-weight: 700;  
}
.text3{
	font-size: 36px;
	color: black;
	font-weight: 700;
}
.intro3{
    width: 200px;
    height: 100px; 
	margin: 0 auto;
    
}
.btn3{
    display: inline-block;
    vertical-align: center;
    padding: 0;
    border: 1px solid lightgray ;
    background-color: #f42f2c;
    color:#fff;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
    width:200px;
    height: 100px;
}
.btn2{
    
    display: inline-block;
    vertical-align: center;
    padding: 0;
    border: 1px solid lightgray;
    background-color: #fff;
    color:black;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
    width:200px;
    height: 100px;
}
.btn4{
    
    display: inline-block;
    vertical-align: center;
    padding: 0;
    border: 1px solid lightgray;
    background-color: #fff;
    color:black;
    border-radius: 0px 10px 10px 0px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .2s linear, color  .2s linear;
    width:200px;
    height: 100px;
}
.p{
    vertical-align: middle;
}
.display{
    display: flex;
    margin:50px auto;
    width: 1200px;
    height: 100px;
    background-color: whitesmoke;
	box-shadow:   1px 20px 20px rgba(0,0,0,0.1);
}
.display1{
	flex-direction: column;
    justify-content: center;
width: 100%;
height: 600px;
}

.intro4 {
	
width: 100%;
max-width: 1200px;
margin:20px auto;
vertical-align: top;
justify-content: space-between;
opacity: inherit;
background-color: whitesmoke;

display: flex; 
align-items: center;
}

 .sod3 {
width: 500px;
height:150px;
float:left;
background-color:#fff;

     border: 1px solid #fff;
     border-radius: 10px 10px 10px 10px;
 }

.sod3_1{
    float: left;
    width: 400px;
    height: 150px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    padding: 0;
    
}
.sod3_2{
    float: right;
    width: 100px;
    height: 150px;
    margin: 0 auto;
    text-align: right;
}
 .text4{
	 font-size:18px;
     float:left;
     padding-left: 20px;
     margin: 20px auto;
}
 
.text4_1{
     font-size:17px;
     float:left;
     padding-left: 20px;
     max-width: 490px;
     font-weight: 0;
     opacity: 50%;
}

 
 .text5{
	 font-size:18px;
     color:#f42f2c;
     float: right;
     padding-right: 20px;
     margin: 20px auto;
 }	
.container3{
    width: 100%;
    height: 670px;
    background:url("../../im/fon5.jpg");
-webkit-background-size: cover;
background-size: cover; 
}

.ob {
    width: 100%;
    height: 700px;
    background-color: whitesmoke;
}
.galereia{
	
	width:100%;
	margin: 0 auto;
	padding: 0 auto;
}
.galereia1{
		width:1384px;
		display: flex;
		height: 100px;
		
		margin-top:60px;
}		
.galereia11{
	width:360px;
	height:250px;
	
}
.galereia111{
	width:360px;
	height:250px;
	background:url("../../im/s1.jpg");
	margin-bottom:20px;
}

.stext1{
	color:black;
	font-size:17px;
	font-weight:700;
	margin-left:0px;
	width: 360px;
}
.stext2{
	color:black;
	font-size:17px;
	width: 360px;
	opacity:50%;
}

.galereia12{
	width:360px;
	height:250px;
	
	margin-left:150px;
}
.galereia122{
	width:360px;
	height:250px;
	background:url("../../im/s2.jpg");
	margin-bottom:20px;
}
.galereia13{
	width:360px;
	height:250px;
	
	margin-left:155px;
}
.galereia133{
	width:360px;
	height:250px;
	background:url("../../im/s3.jpg");
	margin-bottom:20px;
}

.display2{
    display: flex;
    justify-content: space-between;
    
}

.sod4{
    color: red;
    width: 700px;
    height: 400px;
    
    margin: 150px 0px 0px 90px;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}

.text6{
    color: #fff;
font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
}
    
.text6_1{
    font-size:17px;
     float:left;
     font-weight: 0;
     color:#fff;
}

.sod4_1{
     color: red;
    width: 500px;
    height: 400px;
    background-color: #fff;
    margin: 60px 100px 0px 0px;
    padding-top: 110px;
    display: block;
}
.text6_2 {
    width: 350px;
    height: 30px;
    color:black;
    font-size: 15px;
    opacity: 50%;
    margin: 0 auto;
    font-family: inherit;
    resize: none;
    background: transparent;
}
.text6_3{
     width: 350px;
    height: 30px;
    color:black;
    font-size: 15px;
    opacity: 50%;
    margin: 0px 0px 50px 0px;
    font-family: inherit;
    resize: none;
    background: transparent;
    
}
.div1{
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    padding: 0;
	
}

.table{
	width:1200px;
	height:250px;
	padding: 0;
	margin: 0;
	border-spacing: 30px;
}
.td1{
	
	width:350px;
	padding:0;
}

.im{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g1.jpg");
}
.im1{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g2.jpg");
}
.im2{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g3.jpg");
}
.im3{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g4.jpg");
}
.im4{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g5.jpg");
}
.im5{
	float: top;
	width:350px;
	padding:0;
	margin:0 auto;
	height:250px;
	background:url("../../im/g6.jpg");
}
.container4{
    width: 100%;
    height: 350px;
    background:url("../../im/logo6.jpg");
-webkit-background-size: cover;
background-size: cover; 
    padding-top: 50px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1,5s;
  animation-name: fade;
  animation-duration: 1,5s;
}
.text9 {
  font-size:18px;
     color:black;
     float: center;
     padding-right: 0px;
     margin: 10px auto;
}
.user1 {
  width: 80px;
  height: 80px;
  float: center;
  background: url("../../im/user.png")
}
.user2 {
  width: 80px;
  height: 80px;
  float: center;
  background: url("../../im/user2.png")
}
.user3 {
  width: 80px;
  height: 80px;
  float: center;
  background: url("../../im/user3.png")
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0,6s ease;
}

.active {
  background-color: red;
}
.textuser1{
    width: 550px;
    float: center;
}
.textuser{
    font-size: 20px 0px;
    font-weight: 0;
    opacity: 50%;
    text-align: center;
}
.intro5{
    float: center;
    margin: 90px  0px 0px 0px;
    width: 100%;
    height: 150px;
    
    top:60px;   
}
.Latest{
    color:black;
    font-size: 36px;
    font-weight: 700;
}
.coocing{
   
    display: flex;
    margin:10px auto;
    width: 1200px;
    height: 150px;
    background-color: whitesmoke;
	
    padding: 0px;
} 
.coocing1{
    width: 263px;
    height: 180px;
    background: url("../../im/b1.jpg");
    margin-left: 37px;
}
.coocing2{
    width: 263px;
    height: 180px;
    background: url("../../im/b2.jpg");
    margin-left: 37px;
}
.coocing3{
   width: 263px;
    height: 180px;
    background: url("../../im/b3.jpg");
    margin-left: 37px;
}
.coocing4{
   width: 263px;
    height: 180px;
    background: url("../../im/b4.jpg");
    margin-left: 37px;
}

.coocing11{
    display: flex;
    margin:50px auto;
    width: 1200px;
    height: 150px;
    
    padding: 0px;
    
}
.coocing111{
    width: 263px;
    height: 180px;
    margin-left: 37px;
    padding: 0px;
    float:left;
}
.coocing222{
    width: 263px;
    height: 180px;
    background: grey;
    margin-left: 37px;
    float:left;
}
.coocing333{
    width: 263px;
    height: 180px;
    background: blue;
    margin-left: 37px;
}
.coocing444{
    width: 263px;
    height: 180px;
    background: whitesmoke;
    margin-left: 37px;
}
.tcooc{
    width: 250px;
    font-size:18px;
    color:black;
    float: left;
    font-weight: 700;
    line-height: 1;
}
.tcooc1{
    width: 150px;
    font-size:18px;
    color:white;
    float: left;
    background: black;
}
.tcooc2{
    font-size: 17px;
    font-weight: 0;
    opacity: 50%;
    line-height: 0;
}


*{transition: all 0.3s linear;}
.like-toggle.basic2{
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 100px;
  background: #F26C4F;
  color: #fff;
}
.like-active.basic2{
  background: #F06EA9;
}
.like-toggle.basic2:not(.like-active):hover{
  background: #438CCA;
  width: 60px;
}
.container5{
    width: 100%;
    height: 370px;
    background:red;
    margin: 0 auto;
    display: flex;
}
.container51{
	width:1200px;
	height:370px;
	margin: 0 auto;
	display: flex;
}
.container6{
     width: 100%;
    height: 70px;
    background:black;
	
}
.container61{
	width:1200px;
	height:70px;
	margin:0 auto;
	display: flex;
	
}
.container611{
	width:550px;
	height: 40 px;
	float: left;
	margin-left: 35px;
}
.end6{
	width:550px;
	height:40px;
	color: white;
	font-size: 16px;
}
.end1{
    width: 350px;
    height: 100px;
    margin-left: 40px;
    margin-top: 55px;
}
.endtext1{
    width: 250px;
    font-size:18px;
    color:white;
    float: left;
    font-weight: 700;
    line-height: 1;
}
.endtext3{
    width: 250px;
    
    color:white;
    float: left;
    font-weight: 700;
    line-height: 1;
}
.endtext2{
     width: 350px;
    font-size:16px;
    color:white;
    float: left;
    line-height: 1;
}
.endtext3{
    width: 350px;
    font-size:16px;
    color:white;
    float: left;
    line-height: 1,5;
}
.line1{
    width: 350px;
    padding: 0px;
    margin: 20px auto;
    margin-bottom: 30px;
    color:white;
}
.line2{
    width: 350px;
    padding: 0px;
    margin: 20px auto 30px;
    color:white;
}

.end2{
    width: 350px;
    height: 100px;
    
    margin-left: 75px;
    margin-top: 55px;
}
.end3{
    width: 350px;
    height: 100px;
    margin-left: 65px;
    margin-top: 55px;
}
.emaol{
	margin-top: 6px;
	margin-right: 5px;
	width:25px;
	height:25px;
	background:red;
	border-radius: 15px 15px 15px 15px;
}
.email1{
	background: white;
	border-radius: 10px 10px 10px 10px;
	width:360px;
	height: 35px;
	margin-top: 60px;
	display:flex;
}