.header_1{
	width: 100%;
	display:fixed;
	margin: 0px auto;
	padding: 0px;
	height: auto;
}
.container{
	width:100%;
	max-width: 1218px;
	height:auto;
	margin:0px auto;
	
	justify-content: space-between;

}
.logo{
width:91px; 
height:80px;
margin: 0 auto;
background: url("../../im/logo5.png");
background-repeat: no-repeat;
}
.logo_1{
width:91px; 
height:80px;
margin: 0 auto;
}
.nav{
	width:100%;
	max-width:340px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: auto;
	list-style: none;
}
.li_2{
	text-decoration: none;
	margin-left:10px;
	margin-right: 10px;
	color: black;
	font-size:14px;
}
.contentainer_1{
	
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 820px;
background:url("../../im/blog1.jpg");
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
}
