.ferst_1{
	width:100%;
	margin: 0px;
	padding: 0px;
	background: url("../../im/fon3.jpg");
    background-size: cover; /* изображение во всю величину*/
    background-repeat: no-repeat;
height: 100vh;/* на всю страницу изображение, ан весь экарн*/
}

.intro_container{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: auto;
}
.intro{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
    margin-top:200px;
    height: auto;
}
.text_11{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.text_2{
    font-size: 38px;
    color:white;
    font-weight: 700;
}
.text_3{
    font-size:40px;
    font-weight: 700;
    color: black;
}
.text_4{
    color: black;
    font-size: 17px;
   
    opacity: 70%;
}
.text_5{
    color: black;
    font-size: 15px;
}
.button_1{
    margin-top: 50px;
    width: auto;
    height: auto;
}
.learn_more_1{
    width: 160px;
    height: 45px;
    background: #f42f2c;
    border: none;
    transition: 0.5s;
}
.learn_more_1:hover{
    background: black;
}
.learn_more{
    transition: 0.5s;
    color:white;
    border: none;
    text-decoration: none;
    font-size: 17px;
}

.learn_more:hover{
    color:white;
    border: none;
    
}
.body_1{
    margin: 0px;
    padding: 0px;
	background-color:#F5FFFA;
}
.content{
    overflow: hidden;
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	
}
.nav_12{
	text-decoration: none;
}
.hr_1{
	background: white;
	transition: 0.5s;
}
.hr_1:hover{
	background-color: #f42f2c;
}
.nav_13{
	width:40px;
	height:40px;
	margin:0px;
	padding:0px;
}
@media (max-width: 2000px){
	.Hover{
		display: none;
	}
}
@media screen and (max-width: 1300px){
    .content{
        max-width: 970px;
    }
	.block_ob{
        max-width: 970px;
    }
	.All_menu{
        max-width: 970px; 
    }
	.Reserve{
        max-width: 970px; 
    }
	.All_munu_1{
        max-width: 970px; 
    }
	.slide_1{
		max-width: 970px;
	}
	.slide_2{
		max-width: 970px;
	}
	.slide_3{
		max-width: 970px;
	}
	.slide_4{
		max-width: 970px;
	}
	.slide_5{
		max-width: 970px;
	}
    .coocing_ob{
        max-width: 970px; 
    }
	.Copiriting_11{
		max-width:970px;
	}
	.The_end{
		max-width:970px;
	}
}
@media screen and (max-width: 992px){
    .content{
        max-width: 750px; 
    }
	.intro{
		margin-top: 40px;
		padding-top:10px;
	}
	.button_1{
		margin-top:10px;
	}
	.ferst_1{
		padding: 0px;
		margin: 0px;
	}
	.body_1{
		 margin: 0px;
		 padding: 0px;
	}	
	.block_ob{
        max-width: 750px; 
    }
	 .All_menu{
        max-width: 750px; 
    }
	.Reserve{
        max-width: 750px; 
    }
	 .All_munu_1{
        max-width: 750px; 
    }
	.slide_1{
		max-width: 750px;
	}
	.slide_2{
		max-width: 750px;
	}
	.slide_3{
		max-width: 750px;
	}
	.slide_4{
		max-width: 750px;
	}
	.slide_5{
		max-width: 750px;
	}
    .coocing_ob{
        max-width: 750px;
        flex-wrap: wrap;
    }
	.Copiriting_11{
		max-width:750px;
	}
	.The_end{
		max-width:750px;
	}
}
@media screen and (max-width: 767px){
    .content{
        min-width: none;
		flex-wrap: wrap;		
    }
	.block_ob{
        min-width: none; 
		flex-wrap: wrap;
    }
	.All_menu{
        max-width: 319px;
        flex-wrap: wrap;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_1{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px;
		border-right: 1px solid black;
    }
	.All_menu_2{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px;
		border-right: 1px solid black;
    }
	.All_menu_3{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	 .Reserve{
        max-width: none;
        flex-wrap: wrap; 
    }
	.slide_1{
		max-width: none;
	}
	.slide_2{
		max-width: none;
	}
	.slide_3{
		max-width: none;
	}
	.slide_4{
		max-width: none;
	}
	.slide_5{
		max-width: none;
	}
     .coocing_ob{
        max-width: none;
         flex-wrap: wrap;
    }
	.Copiriting_11{
		max-width:319px;
		flex-wrap: wrap;
	}
	.The_end{
		max-width:319px;
		flex-wrap: wrap;
	}
	
}
@media screen and (max-width: 420px){
    .content{
        max-width: 373px; 
		flex-wrap: wrap;
    }
	.Hover{
		display:block;
	}
	.nav_1{
		display: none;
	}
	.intro{
		margin-top: 80px;
	}
	.header_iner_1{
		display: flex;
		justify-content: space-between;
	}
	.Who_are{
		max-width:373px;
	}
	.block_ob{
        max-width: 373px; 
		flex-wrap: wrap;
    }
	.All_menu{
        max-width: 373px;
        flex-wrap: wrap; 
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu{
        max-width: 319px;
        flex-wrap: wrap;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_1{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_2{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_3{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	 .Reserve{
        max-width:  373px;
        flex-wrap: wrap;
    }
	.slide_1{
		max-width: 373px;
	}
	.slide_2{
		max-width: 373px;
	}
	.slide_3{
		max-width: 373px;
	}
	.slide_4{
		max-width: 373px;
	}
	.slide_5{
		max-width: 373px;
	}
    .coocing_ob{
        max-width: 373px;
        flex-wrap: wrap;
    }
    .coocing_1{
        max-width: 373px;
    }
	.Copiriting_11{
		max-width:319px;
		flex-wrap: wrap;
	}
	.The_end{
		max-width:319px;
		flex-wrap: wrap;
	}
} 

@media screen and (max-width: 372px){
    .content{
        max-width: 320px; 
		flex-wrap: wrap;
    }
	.Hover{
		display:block;
	}
	.nav_1{
		display: none;
	}
	.intro{
		margin-top: 30px;
	}
	.header_iner_1{
		display: flex;
		justify-content: space-between;
	}
	.Who_are{
		max-width:319px;
	}
	.block_ob{
        max-width: 319px; 
		flex-wrap: wrap;
    }
	.All_menu{
        max-width: 319px;
        flex-wrap: wrap;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_1{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_2{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	.All_menu_3{
        min-width: 319px;
		flex-wrap: wrap;
		margin-bottom:5px;
		border-radius: 10px 10px 10px 10px:
    }
	.Reserve{
        max-width:  319px;
        flex-wrap: wrap;
    }
	.ferst_2{
	height: 60vh;/* на всю страницу изображение, ан весь экарн*/
	}
	.slide_1{
		max-width: 319px;
	}
	.slide_2{
		max-width: 319px;
	}
	.slide_3{
		max-width: 319px;
	}
	.slide_4{
		max-width: 319px;
	}
	.slide_5{
		max-width: 319px;
	}
    .coocing_ob{
        max-width: 319px;
        flex-wrap: wrap;
    }
    .coocing_1{
        max-width: 319px;
    }
	.Copiriting_11{
		max-width:319px;
		flex-wrap: wrap;
	}
	.The_end{
		max-width:319px;
		flex-wrap: wrap;
		padding-top: 0px;
	}
	
}

.ferst_2{
	width:100%;
	margin-bottom:60px;
	margin-top:60px;
	margin-left:auto;
	margin-right: auto;
	padding: 0px;
	background: url("../../im/fon5.jpg");
    background-size: cover; /* изображение во всю величину*/
    background-repeat: no-repeat;
	height: 85vh;/* на всю страницу изображение, ан весь экарн*/
}
.Reserve{
	display: flex;
    width: 100%;
    margin-top:90px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.Reserve_1{
	width:540px;
	height: 200px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 20px;
	
}
.text_111{
	font-size: 17px;
	color: white;
}
.Reserve_2{
	width:440px;
	height: 320px;
	margin: auto;
	background: white;
}
.forme_1{
	margin-top:35px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width:360px;
}
.input_1{
	width:340px;
	height: auto;
	font-size:18px;
	opacity: 50%;
	margin-bottom:15px;
	border: 1px;
}

.popup{
	position: fixed;
	top: 0px;
	left: -100%;
	width:55%;
	height: 100%;
	background-color: black;
	z-index: 100;
	transition: 0.5s;
	opacity: 85%;
}
.popup.open{
	left:0;
}
.What_1{
    margin-top: 80px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.All_munu_1{
    display:flex;
    margin: 0 auto;
}
.salat_1{
    margin: auto;
    width: 360px;
   
}
.All_menu{
    display: flex;
    box-shadow: 5px 10px 30px 10px rgba(0,0,0,0.5);
    width: 90%; 
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	background-color: grey;
}
.All_menu_1{
    margin: auto;
    width: 199px;
    height: 90px;
    background: #f42f2c;
    border-radius: 10px 0px 0px 10px;
	margin-bottom: 5px;
}
.All_menu_2{
    margin: auto;
    width: 199px;
    height: 90px;
    background: white;
	margin-bottom: 5px;
	
}
.All_menu_3{
    margin: auto;
    width: 199px;
    height: 90px;
    background: white;
	border-radius: 0px 10px 10px 0px;
	margin-bottom: 5px;
	
}
.Hover{
	width:40px;
	height:40px;
	margin-right:20px;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	
}
.hr_2{
	background-color:#f42f2c;
	margin-bottom:15px;
	margin-left: auto;
	margin-top:10px;
	margin-right: auto;
}
.v_1{
	width:35px;
	height:2px;
	color: white;
	margin: 0 auto;
	
}
.header_iner_1{
	width: 100%;
	height: 85px;
	
	align-items: center;
}
.Header_iner_1_1{
	
	margin-left: 10px;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.logo_1{
	text-decoration: none;
	transition: 0.5s;
}
.logo_1:hover{
	box-shadow:  20px 10px 10px 10px rgba(1,1,1,1);
}
.Header_iner_1_2{
	margin-left: auto;
	margin-right: 0 px;
	margin-top: auto;
	margin-bottom: auto;
}
.nav_1{
    list-style: none;
    width: auto;
    height: auto;
    text-align: center;
}
.nav_2{
	text-decoration: none;
	font-size: 20px;
	color: white;
}
.nav_2:hover{
	color: #f42f2c;
}
.nav_3{
	text-decoration: none;
	font-size: 30px;
	color: white;
}
.nav_2:hover{
	color: #f42f2c;
}
.spisok{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
	list-style: none;
}
.spisok_1{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.working_1{
	margin: 30px auto;
	width:80%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text_1{
	margin: 0 auto;
	width:400px;
	height:auto;
	font-size: 20px;
	color: #f42f2c;
	font-weight:700;
}

.buttom{
	margin: 0 auto;
	width:235px;
	height:40px;
	background-color: #f42f2c;
	transition: 0.5s;
}
.buttom:hover{
	background-color: white;
}
.buttom_1{
		text-decoration: none;
		font-size: 30px;
		color: white;
		transition: 0.5s;
}	
.buttom_1:hover{
	color: black;
}

.block_ob{
	display: flex;
	margin: 10px auto;
	

	width: 100%;
	height: auto;
}
.block_1{
	width:400px;
	height:90px;
	margin-bottom: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.block_2{
	width:400px;
	height:90px;
	margin-bottom: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.promo{
	width:100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.promo_1{
	margin: 20px auto;
	width:auto;
	height:auto;
}
.Who_are{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.promo_2{
	margin: 20px auto;
	width: auto;
	height: 400px;
	
}
@media screen and (max-width: 1200px){
    .promo{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px){
    .promo{
        max-width: 750px; 
    }
}

@media screen and (max-width: 767px){
    .promo{
        min-width: none; 
		flex-wrap: wrap;
    }
}
@media screen and (max-width: 390px){
    .promo{
        max-width: 375px; 
		flex-wrap: wrap;
    }
}
.oval_1{
	margin: 20px auto;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}
.Oval_11{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #f42f2c;
	border-radius: 100px 100px 100px 100px;
}
@media screen and (max-width: 1200px){
    .oval_1{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px){
    .oval_1{
		min-width: none; 
		flex-wrap: wrap;
    }
}
@media screen and (max-width: 390px){
    .oval_1{
        max-width: 375px; 
		flex-wrap: wrap;
    }
}
.pred_12{
	width:100%;
	height:auto;
	margin: 20px auto;
	
}
.pred_1{
	margin: 10px auto;
	display: flex;
	width: 100%;
	height: auto;
}
.pred_11{
	margin: 0 auto;
	width: 350px;
	height: 100px;
	background-color: #f42f2c;
}
@media screen and (max-width: 767px){
    .pred_1{
        min-width: none; 
		flex-wrap: wrap;
    }
}
/* делаем медиа запрос на вывод контента. То есть, при достижении разрешения менее 1200px, отображение идет в ращрешении 750px и тд, при достижении 767 px, идет перенос блоков flex-wrap, и меняется разрешение на мобилку.
короче, если медиа запросс равекн вводимому значению, то выставляем и переходим на другое разрешение, в даннном примере это разрешение Iphone x 370px.*/
@media screen and (max-width: 390px){
    .pred_1{
        max-width: 375px; 
		flex-wrap: wrap;
    }
}

.slider{
	width: 6250px;
	height:300px;
	margin: 0 auto;
	display: flex;
    position: relative;
    left: 0;
    transition: 0.5s;
	overflow: hidden;
}
.slide_1{
	width:1200px;
	height:300px;
	margin: 0px;
	
	
    position: relative;
    
}
.slider_21{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.star_1{
    width: 80px;
    height: 60px;
    margin: 0 auto;
}
.ferst_3{
    width: 100%;
    height: 50vh;
    background: url(../../im/logo6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding-top: 90px;
    margin-bottom: 0px;
}

.slide_2{
	width:1200px;
	height:300px;
	margin: 0px;
	
	
    position: relative;
}
.slide_3{
	width:1200px;
	height:300px;
	margin: 0px;
	
	
    position: relative;
}
.slide_4{
	width:1200px;
	height:300px;
	margin: 0px;
	
	
    position: relative;
}
.slide_5{
	width:1200px;
	height:300px;
	margin: 0px;
    position: relative;
}
.coocing_ob{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: auto;
    padding: 0 auto;
}
.coocing_1{
    padding-left: 0px;
}
.coocing_11{
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 px;
}
.coocing_11_text1{
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0 px;    
}
.coocing_11_text11{
    color:white;
    background-color: black;
    font-size: 18px;
}
.coocing_11_text12{
    font-size: 18px;
    font-weight: 700;
}
.left_1{
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 15px;
}
.like-toggle.basic2{
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 100px;
  background: #F26C4F;
  color: #fff;
  transition: 0.5s;
}
.like-active.basic2{
  background: #F06EA9;
}
.like-toggle.basic2:not(.like-active):hover{
  background: #438CCA;
  width: 60px;
}
.ferst_4{
	background-color: #f42f2c;
	background-repeat: no-repeat;
	height:auto;
	background-size: cover;
	margin: 0 auto;
	padding: 0 auto;
}
.sd{
	color: black;
	font-weight: 700;
	font-size: 24px;
}
.The_end{
	display: flex;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	height: auto;
	justify-content: space-around;
}
.Opening{
	margin-bottom:10px;
}
.Opening_1{
	font-size:23px;
	color: white;
	font-weight:700;
	opacity:85%;
}

.The_end_1{
	padding-top:5px;
	margin: 0 auto;
}
.Monday{
	margin-bottom:20px;
}
.text_1111{
	font-size: 17px;
	color: white;
	opacity:85%;
}

.input_1{
	border-radius: 10px 10px 10px 10px;
	font-size: 25px;
	border: none;
}
.button_123{
	border-radius: 100%;
	border: none;
	background-color: white;
	color: #f42f2c;
	font-size:23px;
}
.ferst_5{
	background-color: black;
	background-repeat: no-repeat;
	height:9vh;
	background-size: cover;
	margin: 0 auto;
	padding: 0 auto;
}
.Copiriting_11{
	display:flex;
	margin-top:17px;
	padding: 0 auto;
}
.Onclok{
		display:inline-block;
		position:fixed;
        bottom:10px;
		right:10px;
        padding:5px 10px;
		font-size:16px;
        opacity:0.8; 
        background:#f42f2c;
		border-radius:15px;
		text-decoration:none;
		color: white;
}

