body {
font-family: 'Montserrat Alternates', sans-serif; /*для всего тега боди подключаем шрифты с гугл фонт*/
font-weight: 100;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        }
*,
*: before,
*:after {
box-sizing: border-box;
}
/* для всех заголовков H делаем отступ 0*/
h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 0px 0px;
}
/* делаем область сайта контента 100% вне зависимости от разрешения*/
.headr_1{
    width: 100%;
    height: auto; /*ограничиваем по высоте нашу шапку*/
    margin: 0px auto; /* убираем отступы слева справа, т.е определяем посереди*/
    background: grey;
    
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 970px;
       
    }
}

@media screen and (max-width: 992px){
    .container{
        max-width: 750px;
        
    }
}

@media screen and (max-width: 767px){
    .container{
        max-width: none;
        
    }
}

.card_item{
    width: 350px;
    height:auto;
    background:#d3d3d3;
    border:1px solid red;
    
}


.container{
    margin: 0 auto;
    max-width: 1200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.headr_bady{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.nav_2{
    text-decoration: none;
    color:black;
    font-size:17px;
}
.nav_1{
    list-style: none;
    width: auto;
    height: auto;
    text-align: center;
    
}
.spisok{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.hr_line{
    width: 100%;
    height: auto;
    background: black;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
    margin-top:10px;
  
    height: auto;
    border: 1px solid black;
}
.text_1{
    color: black;
    font-size: 17px;
    margin-bottom: 20px;
}
.text_2{
    font-size: 23px;
    color:black;
    font-weight: 700;
}
.button_1{
    margin-top: 30px;
    width: auto;
    height: auto;
   
}
.learn_more_1{
    width: 160px;
    height: 45px;
    background: red;
    border: none;
}
.learn_more{
    transition: 0.5s;
    color:white;
    border: none;
    text-decoration: none;
    font-size: 17px;
}

.learn_more:hover{
    color:black;
    border: none;
}
.About_Our_Story{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.Who_are{
    width: 30%;
    border: 1px solid black;
    margin: 0 auto;
}
.burger{
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
}
.obchie{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    

}
.obchie_1{
   width: 40%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    
}
.obchie_2{
    width: 40%;
    height: auto;
    margin: auto;
    border: 1px solid black;
}