body {
font-family: 'Montserrat Alternates', sans-serif; /*для всего тега боди подключаем шрифты с гугл фонт*/
font-weight: 100;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        }
*,
*: before,
*:after {
box-sizing: border-box;
}
/* для всех заголовков H делаем отступ 0*/
h1, h2, h3, h4, h5, h6 {
margin: 0px 0px 0px 0px;
}
/* делаем область сайта контента 100% вне зависимости от разрешения*/
.ferst_1{
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: url("../../im/fon3.jpg");
    background-size: cover; /* изображение во всю величину*/
    background-repeat: no-repeat;
    height: 100vh;/* на всю страницу изображение, ан весь экарн*/
}
.headr_1{
    width: 100%;
    height: auto; /*ограничиваем по высоте нашу шапку*/
    margin: 0px auto; /* убираем отступы слева справа, т.е определяем посереди*/
   
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 970px;
    }
	
}

@media screen and (max-width: 992px){
    .container{
        max-width: 750px; 
    }
}

@media screen and (max-width: 767px){
    .container{
        max-width: none; 
        flex-wrap: wrap;
    }
	
}

@media screen and (max-width: 1200px){
    .About_Our_Story{
        max-width: 970px;
    }
}

@media screen and (max-width: 992px){
    .About_Our_Story{
        max-width: 750px; 
    }
}

@media screen and (max-width: 767px){
    .About_Our_Story{
        max-width: none;
        flex-wrap: wrap;
    }
}

.container{
    max-width:1200px;
    height: auto;
    margin: 0 auto;
    border: 1px solid green;
    
    
}
.headr_bady{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.nav_1{
    list-style: none;
    width: auto;
    height: auto;
    text-align: center;
}
.nav_2{
    text-decoration: none;
    color:white;
    font-size:17px;
}
.spisok{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.hr_line{
    width: 100%;
    height: auto;
    background: black;
    margin-top:5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
}
.intro_container{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.intro{
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
    margin-top:80px;
    height: auto;
   
}
.text_1{
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}
.text_2{
    font-size: 30px;
    color:white;
    font-weight: 700;
}
.button_1{
    margin-top: 30px;
    width: auto;
    height: auto;
}
.learn_more_1{
    width: 160px;
    height: 45px;
    background: red;
    border: none;
    transition: 0.5s;
}
.learn_more_1:hover{
    background: black;
}
.learn_more{
    transition: 0.5s;
    color:white;
    border: none;
    text-decoration: none;
    font-size: 17px;
}

.learn_more:hover{
    color:white;
    border: none;
    
}
.About_Our_Story{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: space-between;
}

.Who_are{
    width: 500px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.burger{
    width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.text_3{
    font-size:40px;
    font-weight: 700;
    color: black;
}
.text_4{
    color: black;
    font-size: 15px;
   
    opacity: 50%;
}
.text_5{
    color: black;
    font-size: 15px;
}
.What_1{
    margin-top: 100px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.All_menu{
    display: flex;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    width: 100%; 
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* делаем медиа запрос на вывод контента. То есть, при достижении разрешения менее 1200px, отображение идет в ращрешении 750px и тд, при достижении 767 px, идет перенос блоков flex-wrap, и меняется разрешение на мобилку.*/
@media screen and (max-width: 1200px){
    .All_menu{
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    .All_menu{
        max-width: 750px; 
    }
}
@media screen and (max-width: 767px){
    .All_menu{
        max-width: none;
        flex-wrap: wrap;
        
    }
}
.All_menu_1{
    margin: auto;
    width: 199px;
    height: 90px;
    background: red;
    border-bottom: 1px solid black;
    
}
@media screen and (max-width: 767px){
    .All_menu_1{
        min-width: 375px;
    }
}

.All_menu_2{
    margin: auto;
    width: 199px;
    height: 90px;
    background: white;
    border-bottom: 1px solid black;
}
@media screen and (max-width: 767px){
    .All_menu_2{
        min-width: 375px;
    }
}
.Cappuccion{
    display: flex;
    width: 100%;
    margin: 0px auto;
	height: auto;
    
}

.Cappuccion_1{
    width: 500px;
    height: 100px;
    margin-top:20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

@media screen and (max-width: 1200px){
    .Cappuccion{
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    .Cappuccion{
        max-width: 750px; 
    }
}


@media screen and (max-width: 767px){
    .Cappuccion{
        max-width: none;
        flex-wrap: wrap;
        
    }
}

.ferst_2{
	margin-top:30px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background: url("../../im/fon5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height:60vh;
}
.Reserve{
	display: flex;
    width: 100%;
    margin-top:90px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.Reserve_1{
	width:540px;
	height: 200px;
	margin: auto;
	
}
.Reserve_2{
	width:440px;
	height: 400px;
	margin: auto;
	background: white;
}
.forme_1{
	margin-top:60px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width:360px;
}
.input_1{
	width:340px;
	height: auto;
	font-size:18px;
	opacity: 50%;
	margin-bottom:15px;
}

@media screen and (max-width: 1200px){
    .Reserve{
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    .Reserve{
        max-width: 750px; 
    }
}


@media screen and (max-width: 767px){
    .Reserve{
        max-width: none;
        flex-wrap: wrap;
        
    }
}
.All_munu_1{
    display:flex;
    margin: 0 auto;
}
.salat_1{
    margin: auto;
    width: 360px;
}
@media screen and (max-width: 1200px){
    .All_munu_1{
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    .All_munu_1{
        max-width: 750px; 
    }
}


@media screen and (max-width: 767px){
    .All_munu_1{
        max-width: none;
        flex-wrap: wrap;
        
    }
}
.slider_ob{
    margin: 0 auto;
    display:flex;
    width: 1650px;
    position: relative;
	transition: 0.5s;
}
.slider_1{
    width: 550px;
    height: auto;
    margin-top:140px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
    position: relative;
	transition: 0.5s;
}
.slider_2{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.star_1{
    width: 80px;
    height: 60px;
    margin: 0 auto;
}
.ferst_3{
    width: 100%;
    height: 50vh;
    background: url(../../im/logo6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
.comntainer_1{
	width:550px;
	height: auto;
	margin: 0 auto;
	padding: 0 auto;
	overflow: hidden;
}